@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cabin&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Cabin, sans-serif;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
    color: #3466aa;
}

h1 {
    margin-left: 1em;
    font-family: Arvo, sans-serif;
    text-transform: uppercase;
    color: #3466aa;
    font-size: xx-large;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    height:4%;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    float: left;
}

#menu li {
    float: right;
    list-style-type: none;
    font-size: x-large;
    margin-right: 1%;
    margin-top: 5px;
}

#menu a {
    text-decoration: none;
    color: #3466aa;
}

#menu a:hover {
    color: #82b7dc;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 4%;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/dog-groom.jpeg) no-repeat center center;

}

#cover-text {
    font-family: Arvo, sans-serif;
    font-size: 150%;
    text-align: center;

    width: 15%;

    margin: auto;
    padding: 1% 0;
    border-radius: 25px;
    border: 1px solid #114084;

    /* left: 42.5%;
    bottom: 10%;
    right: 40%; */

    color: #3466aa;
    background-color: #82b7dc;

    /* position: absolute; */
}

#cover-text a {
    text-decoration: none;
}

#cover-text a:hover,
#cover-text a:visited:hover {
    color: #114084;
}

#cover-text:hover a:visited {
    color: #114084;
}

#cover-text:hover {
    background-color: #f1f1f1;
}

#cover-text a:visited {
    color: #3466aa;
}

#cover-description {
    color: #F1F1F1;
    text-shadow: 2px 2px #808080;
    /* position: absolute; */

    font-family: Arvo, sans-serif;
    font-size: 150%;
    text-align: center;

    width: 30%;
    padding-top: 8%;
    padding-left: 4%;
    padding-bottom: 2%;

    /* left: 5%;
    bottom: 30%; */


}

#cover-description p {
    text-align: left;
    margin-top: 1%;
    border: solid 2px #82b7dc;
    background-color: #82b7dc77;
    border-radius: 25px;
    padding: 12px;
}

.section-heading {
    text-align: center;
    font-size: xx-large;
    color: #f1f1f1;
    text-shadow: 1px 1px #808080;
    padding: 20px;
    text-transform: uppercase;
    padding-top: 8%;
}

.service-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.service-option img {
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.service-option {
    border-radius: 25px;
    /* display: flex; */
    flex: 1;
    height: 100%;
    width: 20%;
    border-bottom: 5px solid #82b7dc;
    background-color: #82b7dc;
    margin: 2.375%;
    text-align: center;
    font-size: large;
}

.service-option p {
    color: #F1F1F1;
    margin-top: 4%;
    margin-bottom: 2%;
}

.service-option span {
    margin-top: 4%;
}

.caption {
    display: block;
}

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    margin-bottom: 2%;
}

#gallery-photos>img {
    width: 100%
}

#about-us {
    width: 80%;
    margin: auto;
}

#about-us p {
    margin-bottom: 2%;
    font-size: large;
}

#about-us img {
    float: left;
    width: 30%;
    height: 30%;
    margin-right: 2%;
}

#contact {
    width: 80%;
    margin: auto;
}

#contact h3,
#contact p {
    width: 80%;
    margin: auto;
}

#contact form {
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#contact label {
    font-size: large;
}

.text-input {
    width: 40%;
    font-size: large;
    padding: 1%;
}

.text-input,
#message {
    border: solid 1px #114084;
    background-color: #f1f1f1;
}

.text-input:hover,
#message:hover {
    border: solid 1px #3466aa;
    background-color: #f1f1f1a2;
}

#email {
    width: 80%;

}

#message {
    width: 100%;
    height: 30%;
    resize: none;
    font-size: large;
}

#submit {
    margin-top: 2%;
    margin-left: 35%;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
}

footer {
    width: 100%;
    margin-top: 4%;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
}

#social-links {
    font-size: xx-large;
    column-count: 4;
    list-style: none;
    width: 100%;
    text-align: center;
    column-rule: 2px solid #3465aab9;
    padding-top: 1%;
    margin-bottom: 1%;

}

#footer-content {
    height: 10%;
    margin-top: 1%;
    width: 100%;
    padding-bottom: 2%;
}

address {
    width: 25%;
    display: inline-block;
    text-align: left;
    margin-left: 8%;
}

#footer-content p {
    width: 25%;
    display: inline-block;
    text-align: right;
    margin-right: 8%;
}

#footer-content h2 {
    width: 33%;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
}

@media screen and (max-width: 1350px){
    .service-option{
        font-size: medium;
    }
    
}

@media screen and (max-width: 1000px){
    .service-box{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service-option{
        flex: 1 0 calc(40%); 
    }
    #cover-description{
        width: 60%;
        padding-top: 15%;
        padding-left: 0;
        margin:auto;
    }
    #cover-text {
        width: 30%;
    }
    #gallery-photos {
        column-count: 2;
    }

}
@media screen and (max-width: 800px){
    #menu {
        display: none;
    }
}

@media screen and (max-width: 720px){
    
    .service-option{
        flex: 1 0 calc(80%); 
    }
    #cover-description{
        font-size: large;
    }
    #gallery-photos {
        column-count: 1;
    }
    #footer-content p {
        padding-top: 7%;
        float: right;
    }
}