@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cabin&display=swap');

/* Remove default padding, margins and borders */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Set the default font, color and background for the page */
body {
    font-family: Cabin, sans-serif;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
    color: #3466aa;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Styles for the nav bar, logo and menu */
h1 {
    margin-left: 1em;
    font-family: Arvo, sans-serif;
    text-transform: uppercase;
    color: #3466aa;
    font-size: xx-large;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 4%;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo {
    float: left;
}

nav {
    float: right;
    width: 50%;
}

#menu {
    width: 470px;
    float: right;
}


#menu li {
    list-style-type: none;
    font-size: x-large;
    margin-top: 5px;
    display: inline-block;
    padding-left: 3%;
}

#menu-button {
    position: absolute;
    left: 10000px;
}

#menu-button-label {
    display: none;
}

#menu-close {
    display: none;
}

#menu ul {
    width: 50%;
    height: 4%;
    float: right;
}

#menu a {
    text-decoration: none;
    color: #3466aa;
}

#menu a:hover {
    color: #82b7dc;
}

/* Styles for the hero image, "why choose us?" section and the "Book Now" button */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 4%;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/dog-groom.jpeg) no-repeat center center;

}

#book-now-button {
    font-family: Arvo, sans-serif;
    font-size: 150%;
    text-align: center;

    width: 15%;

    margin: auto;
    padding: 1% 0;
    border-radius: 25px;
    border: 1px solid #114084;

    background-color: #3466aa;
    color: #F1F1F1;
}

#book-now-button a {
    text-decoration: none;
}

#book-now-button a:link {
    color: #f1f1f1;
}

#book-now-button a:hover,
#book-now-button a:visited:hover {
    color: #3466aa;
}

#book-now-button:hover a:visited {
    color: #3466aa;
}

#book-now-button:hover {
    background-color: #f1f1f1;
    color: #3466aa;
}

#book-now-button:hover a:link {
    color: #3466aa;
}

#book-now-button a:visited {
    color: #f1f1f1;
}

#cover-description {
    color: #F1F1F1;
    text-shadow: 2px 2px #808080;

    font-family: Arvo, sans-serif;
    font-size: 150%;
    text-align: center;

    width: 30%;
    padding-top: 8%;
    padding-left: 4%;
    padding-bottom: 2%;

}

#cover-description p {
    text-align: left;
    margin-top: 1%;
    border: solid 2px #82b7dc;
    background-color: #82b7dc77;
    border-radius: 25px;
    padding: 12px;
}

/* Style for the heading of each section */

.section-heading {
    text-align: center;
    font-size: xx-large;
    color: #f1f1f1;
    text-shadow: 1px 1px #808080;
    padding: 20px;
    text-transform: uppercase;
    padding-top: 8%;
}

/* Styles for the services section */
.service-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.service-option img {
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.service-option {
    border-radius: 25px;
    flex: 1;
    height: 100%;
    width: 20%;
    border-bottom: 5px solid #82b7dc;
    background-color: #264273;
    margin: 2.375%;
    text-align: center;
    font-size: large;
    color: #F1F1F1;
    font-weight: bold;
}

.service-option p {
    color: #F1F1F1;
    margin-top: 4%;
    margin-bottom: 2%;
    font-weight: normal;
}

.service-option span {
    margin-top: 4%;
}

.caption {
    display: block;
}

/* Styles for the gallery */

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    margin-bottom: 2%;
}

#gallery-photos>img {
    width: 100%
}

/* Styles for the About Us section */

#about-us {
    width: 80%;
    margin: auto;
}

#about-us p {
    margin-bottom: 2%;
    font-size: large;
}

#about-us img {
    float: left;
    width: 30%;
    height: 30%;
    margin-right: 2%;
}

/* Styles for the contact form */

#contact {
    width: 80%;
    margin: auto;
}

#contact h3,
#contact p {
    width: 80%;
    margin: auto;
}

#contact form {
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#contact label {
    font-size: large;
}

.text-input {
    width: 40%;
    font-size: large;
    padding: 1%;
}

.text-input,
#message {
    border: solid 1px #114084;
    background-color: #f1f1f1;
}

.text-input:hover,
#message:hover {
    border: solid 1px #3466aa;
    background-color: #f1f1f1a2;
}

#email {
    width: 80%;

}

#message {
    width: 100%;
    height: 30%;
    resize: none;
    font-size: large;
}

#submit {
    margin-top: 2%;
    margin-left: 35%;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
    border-radius: 5%;
    background-color: #3466aa;
    color: #F1F1F1;
}

#submit:hover {
    background-color: #F1F1F1;
    color: #3466aa
}

/* Styles for the footer and social media links */

footer {
    width: 100%;
    margin-top: 4%;
    background-image: repeating-radial-gradient(ellipse at top left, rgba(255, 255, 255, 1), rgba(130, 183, 220, 1));
}

#social-links {
    font-size: xx-large;
    column-count: 4;
    list-style: none;
    width: 100%;
    text-align: center;
    column-rule: 2px solid #3465aab9;
    padding-top: 1%;
    margin-bottom: 1%;

}

#footer-content {
    height: 10%;
    margin-top: 1%;
    width: 100%;
    padding-bottom: 2%;
}

address {
    width: 25%;
    display: inline-block;
    text-align: left;
    margin-left: 8%;
}

#footer-content p {
    width: 25%;
    display: inline-block;
    text-align: right;
    margin-right: 8%;
}

#footer-content h2 {
    width: 33%;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
}

/* Styles for making the page responsive */

@media screen and (max-width: 1350px) {
    .service-option {
        font-size: medium;
    }

}

@media screen and (max-width: 1000px) {
    .service-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service-option {
        flex: 1 0 calc(40%);
    }

    #cover-description {
        width: 60%;
        padding-top: 15%;
        padding-left: 0;
        margin: auto;
    }

    #book-now-button {
        width: 30%;
    }

    #gallery-photos {
        column-count: 2;
    }

}

@media screen and (max-width: 800px) {
    #menu-button-label {
        display: block;
        float: right;
        margin-right: 5%;
        font-size: xx-large;
    }

    #menu {
        display: none;
    }

    #menu-button:checked~#menu-close {
        display: block;
        position: absolute;
        right: 2%;
        top: 10%;
        z-index: 3;
        font-size: xx-large;
        background-color: #82b7dc;
        padding: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #menu-button:checked~#menu {

        display: flex;
        flex-direction: column;
        column-count: 1;

        top: 0;
        right: 0;

        width: 50%;
        height: 100%;

        position: fixed;

        justify-content: center;
        text-align: center;
        background-color: #114084;

        border-right: solid 4px #114084;

    }

    #menu-button:checked~#menu li {
        width: 100%;
        color: #F1F1F1;
        padding: 4% 0;
        font-size: xx-large;
        border: 2px solid #114084;
        background-color: #82b7dc;
        margin: 0;
    }

    #menu-button:checked~#menu li a {
        color: #f1f1f1;
    }

    #menu-button:checked~#nav {
        margin: auto;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        float: none;
    }

    nav {
        width: 10%;
    }
}

@media screen and (max-width: 720px) {

    .service-option {
        flex: 1 0 calc(80%);
    }

    #cover-description {
        font-size: large;
    }

    #gallery-photos {
        column-count: 1;
    }

    #footer-content p {
        padding-top: 7%;
        float: right;
    }
}